<app-breadcrumbd></app-breadcrumbd>


<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">


        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <p class="mb-4"><a> ¿Querés ser parte de Cielito Azul? <br> Tenemos buenas ofertas y mucha
                                inspiración para vos </a>.</p>
                        <form class="contact-form" id="loginform" autocomplete="on" [formGroup]="loginForm" (ngSubmit)="login()">

                            <div class="row g-3"> 

                                <div class="col-sm-12">
                                    <div class="form-floating">
                                        <input class="form-control" type='email'  placeholder='email' formControlName='email' id='email' autofocus>
                                        <i class="login__icon fas fa-user"></i>
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-floating">
                                        <input class="form-control" type="password" required placeholder="Password"  formControlName="password">
                                        <i class="login__icon fas fa-lock"></i>
                                        <label for="subject">&nbsp;&nbsp; Password</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Login</button>
                                </div>
                                <div class="col-12"  style="margin-top: 10px; margin-bottom: 10px; display: flex;justify-content: center; align-items: center;flex-direction: column; "  >
                                  
                                    <button #googleButton  id="buttonDiv"  class="btn " type="submit">Login by Google</button>

                                </div>

                                <div class="col-12">
                                    <div class="form-floating">
                                        <a routerLink="/register" class="login__link">Register</a>
                                    </div>

                                    <div class="form-floating">
                                        <a routerLink="/resetpassword" class="login__link">Reset Password</a>
                                    </div>


                                    <div class="form-floating">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1"  formControlName="rememberme">
                                        &nbsp;&nbsp;<span class="form-check-label" for="exampleCheck1"> Forgot Password </span>
                                    </div>

                                    <div class="row">
                                        <div class="col text-danger">
                                            <p class="text-danger" *ngIf="campoNoValido('email') ">
                                                El email es obligatorio
                                            </p>
                                            <p class="text-danger" *ngIf="campoNoValido('password') ">
                                                El password es obligatorio
                                            </p>
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">

                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="../assets/img/ropa.jpg"
                            style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->