<app-breadcrumbd></app-breadcrumbd>


        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
               
               
                <div class="bg-light rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <p class="mb-4"><a> ¿Querés ser parte de Cielito Azul? <br> Tenemos buenas ofertas y mucha inspiración para vos </a>.</p>
                                <form class="contact-form" id="contactForm" data-toggle="validator" (ngSubmit)="onSubmit()">
                                    <div class="row g-3">                                  
                                      
                                        <div class="col-12">
                                            <div class="form-floating">
                                               
                                                <input type="text" class="form-control border-0" id="email" placeholder="Email">
                                                <i class="login__icon fas fa-user"></i>
                                                <label for="subject">&nbsp;&nbsp; Email</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input type="password" class="form-control border-0" id="password" placeholder="Password">
                                                <i class="login__icon fas fa-lock"></i>
                                                <label for="subject">&nbsp;&nbsp; Password</label>
                                            </div>
                                        </div>
                                    
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" type="submit">Login</button>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" type="submit">Login by Google</button>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-floating">
                                                <a routerLink="/register" class="login__link">Register</a>
                                            </div>

                                            <div class="form-floating">
                                                <a routerLink="/forgot-password" class="login__link">Forgot Password</a>
                                            </div>


                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                            <div class="position-relative h-100">                  

                  
                                <iframe class="position-relative rounded w-100 h-100"
                                src="https://www.google.com/maps/embed?pb=!3m2!1ses-419!2sar!4v1698530199725!5m2!1ses-419!2sar!6m8!1m7!1segAI9mLFod4OwaQQLqZ4xA!2m2!1d-34.81806164476716!2d-58.46625663544138!3f328.56860478215935!4f-1.4266254631153572!5f1.1924812503605782"
                                 width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                </iframe>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
