<app-breadcrumbd></app-breadcrumbd>

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Contactos</h1>
            <p>Contáctanos a través de nuestras redes sociales y te responderemos a la  brevedad.</p>
        </div>
        <div class="row g-4 mb-5">
            <div class="col-md-6 col-lg-4 text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4"
                    style="width: 75px; height: 75px;">
                    <i class="fa fa-map-marker-alt fa-2x text-primary"></i>
                </div>
                <h5>Monte Grande, Buenos Aires, Argentina</h5>
            </div>
            <div class="col-md-6 col-lg-4 text-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4"
                    style="width: 75px; height: 75px;">
                    <i class="fa fa-envelope-open fa-2x text-primary"></i>
                </div>
                <h5>info@example.com</h5>
            </div>
            <div class="col-md-6 col-lg-4 text-center wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded-circle d-inline-flex align-items-center justify-content-center mb-4"
                    style="width: 75px; height: 75px;">
                    <i class="fa fa-phone-alt fa-2x text-primary"></i>
                </div>
                <h5>+012 345 6789</h5>
            </div>
        </div>
        <div class="bg-light rounded">
            <div class="row g-0">


                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                      
                                    <div class="d-flex pt-2">
                                        <h3 class="text-secondary"> Seguinos&nbsp;&nbsp;</h3>
                                         
                                        <a class="btn btn-outline-light text-info btn-social" href=""><i class="fab fa-instagram"></i></a>
                                        <a class="btn btn-outline-light text-info btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                                       
                                    </div>
                      

                    </div>
                </div>


                <div class="col-lg-12 wow fadeIn" data-wow-delay="1s"
                    style="min-height: 350px; max-height: 350px; overflow: hidden; border-radius: 0px 0px 0px 0px;">
                    <div class="position-relative h-100">


                        <iframe class="position-relative rounded w-100 h-100"
                            src="https://www.google.com/maps/embed?pb=!3m2!1ses-419!2sar!4v1698530199725!5m2!1ses-419!2sar!6m8!1m7!1segAI9mLFod4OwaQQLqZ4xA!2m2!1d-34.81806164476716!2d-58.46625663544138!3f328.56860478215935!4f-1.4266254631153572!5f1.1924812503605782"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->