.cartstatus {
  color: #6a679e;
  cursor: pointer;
  font-size: 1.4em;
}

.cartstatus:hover {
  
  color: #ff0000;
}
.shopping_cart{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em;
  font-weight: bold;
  color: #ff0000;
  cursor: pointer;
}


