
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
    <a href="index.html" class="navbar-brand">
        <h1 class="m-0 text-secondary">Cielito Azul</h1>  <!-- <i class="fa fa-cloud text-info me-2"> </i> -->
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
            <a routerLink="/home" class="nav-item nav-link ">Home</a>
            <a routerLink="/about" class="nav-item nav-link ">About Us</a>
            <!-- <a href="product.html" class="nav-item nav-link">Products</a> -->
            <a href="blog.html" class="nav-item nav-link">Blog</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Productos</a>
                <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                    <a href="call-to-action.html" class="dropdown-item">Bebés</a>
                    <a href="facility.html" class="dropdown-item">Niñas</a>
                    <a href="team.html" class="dropdown-item">Niños</a>
                   
                    <a href="appointment.html" class="dropdown-item">Adolescentes</a>
                    <a href="testimonial.html" class="dropdown-item">Accesorios</a>
              
                </div>
            </div>
            <a routerLink="/contact" class="nav-item nav-link">Contact Us</a>
        </div>
        <a href="" class="btn btn-primary rounded-pill px-3 "><i class="fa fa-search" aria-hidden="true"></i></a>&nbsp;
        <a routerLink="/login" class="btn btn-primary rounded-pill px-3 ">Log in<i class="fa fa-sign-in-alt ms-3"></i></a>
        <!-- <a routerLink="/register" class="btn btn-primary rounded-pill px-3 ">Log in<i class="fa fa-sign-in-alt ms-3"></i></a>
       -->
    </div>
</nav>
<!-- Navbar End -->
