

<a class="btn text-primary px-1 py-1 mt-2"  style="float: right;" (click)="quitarDelCarrito(producto)">
    <!-- <img 
    src="assets/img/mbrishoppingbag_99603.png" alt="" style="width: 30px; height: 29px;
    margin-top: -5px;">
     -->
     <div class="image_with_badge_container">
        <img  src="assets/img/biggarbagebin_121980.png" style="width: 26px; height: 25px;" />
       
    </div>
</a>

<a class="btn text-primary px-1 py-1 mt-2"  style="float: right;" (click)="agregarAlCarrito(producto)">
                        
    <!-- <img 
    src="assets/img/mbrishoppingbag_99603.png" alt="" style="width: 30px; height: 29px;
    margin-top: -5px;">
     -->
     <div class="image_with_badge_container">
        <img  src="assets/img/mbrishoppingbag_99603.png" style="width: 26px; height: 25px;" />
        <span class="badge abel-warning ">+</span>
    </div>
</a>