<app-breadcrumbd></app-breadcrumbd>
    <!-- 404 Start -->
     <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-patch-exclamation display-1 text-primary"></i>
                    <h1 class="display-1">Reseteo de Contraseña</h1>
                    <h2 class="mb-4">Ingresá tu email para resetear tu contraseña</h2>

                    <form class="contact-form" id="loginform" autocomplete="on"(ngSubmit)=" resetpassword()" [formGroup]="resetForm">

                        <div class="row g-3">
                            <div class="col-sm-12">
                                <div class="form-floating">
                                    <input class="form-control" type='password'  placeholder='password' formControlName='password' id='password' autofocus>
                                  
                                    <label for="password">Password</label>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="form-floating">
                                    <input class="form-control" type='password'  placeholder='Confirm password' formControlName='password2' id='password2' autofocus>
                                  
                                    <label for="password2">Confirm Password</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col text-danger">
                                    <p class="text-danger" *ngIf="campoNoValido('password') ">
                                        El password es obligatorio
                                    </p>

                                    <p class="text-danger" *ngIf="campoNoValido('password2') ">
                                        <Code></Code>

                                    </p>

                                    <p class="text-danger" *ngIf="campoNoValido('password2') ">
                                        El password no coincide

                                    </p>
                                </div>
                            </div>


                            <div class="col-12">
                                <button  class="btn btn-primary rounded-pill py-3 px-5"type="submit">Resetear Contraseña</button>
                            
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <a routerLink="/login" class="login__link">Login</a>
                                </div>

                                <div class="form-floating">
                                    <a routerLink="/register" class="login__link">Register</a>
                                </div>

                                <div class="form-floating">
                                    <a routerLink="/resetpassword" class="login__link">Reset Password</a>
                                </div>
                            </div>
                        </div>
                    </form>
                  
                
                </div>
            </div>
        </div>
    </div>




