
<app-breadcrumbd></app-breadcrumbd>
    <!-- 404 Start -->
     <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-emoji-laughing display-1 text-primary"></i>
                    <h1 class="display-1">Bienvenido</h1>
                    <h2 class="mb-4">Has ingresado a la página de validación de datos</h2>
                    <div class="d-grid gap-2 col-6 mx-auto">
                       
                        <button type="button" class="btn btn-primary" 
                        (click)="validaremail(token)"
                        data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Validar Email   
                        </button>       
                                       
                    </div>
                  
                    <p class="mb-4">Al hacer click en el botón "Validar Email"
                        podrá ingresar a nuestra página
                        </p>
                 
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->


   