


    <!-- 404 Start -->
    <div class="container-xxl py-5 " data-wow-delay="0.1s">
        <div class="container text-center">
           <app-headeradmin></app-headeradmin>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <img src="../../../assets/img/logocielito.png" alt="404" class="img-fluid mb-4">
                    <h1 class="display-1">Administrar productos</h1>
                    <h2 class="mb-4">Bienvenido {{usuario}}</h2>
                  
                    <p class="mb-4">
                        Esta es la página de administración de productos, desde aquí podrá agregar, editar y eliminar productos.
                    </p>
                    <a class="btn btn-primary rounded-pill py-3 px-5" routerLink="/">Go Home</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->


