<div class="container-xxl py-5">
    <div class="container">


        <div class="bg-light rounded">
            <a class="btn text-primary  px-4 py-2 mt-3" (click)="volver()"><i class="fa fa-arrow-left"></i> Volver</a>


            <div class="row g-0">

                <div class="col-lg-6 wow fadeIn  align-items-center  " data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative avatar-perfil">
                        <img class="position-absolute w-100 h-100 rounded " [src]="this.usuarioActual.img" alt=""
                            style="object-fit: cover;">
                        <img class="position-absolute w-100 h-100 rounded" [src]="imagenTemp" alt=""
                            style="object-fit: cover;" *ngIf="imagenTemp">
                    </div>
                    <input type="file" (change)="cambiarImagen($event)" class=" btn btn-primary w-100" id="file"
                        name="file" accept="image/*" [disabled]="emailVerified == false">

                    <button class=" btn btn-primary w-100 " type="submit" [disabled]="!imagenSubir"
                        (click)="subirImagen()" [ngClass]="{'disabled': !imagenSubir}">
                        {{
                        emailVerified == false ? 'Verifica tu email para completar tu perfil' : 'Completar Perfil'
                        }}
                    </button>
                </div>

                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <p class="mb-4"><a> Completar tu perfil</a></p>

                        <form class="contact-form" id="contactForm" data-toggle="validator" (ngSubmit)="onSubmit()"
                            [formGroup]="registerForm " autocomplete="on">
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="nombre"
                                            formControlName="nombre" placeholder="Nombre">

                                        <label for="name">Nombre</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control border-0" id="email"
                                            formControlName="email" placeholder="Email" readonly>

                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="telefono"
                                            formControlName="telefono" placeholder="telefono">

                                        <label for="subject">&nbsp;&nbsp; WhatsApp sin 0 sin 15</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="date" class="form-control border-0" id="fechanac"
                                            formControlName="fechanac" placeholder="Fecha de nacimiento">
                                        <label for="subject">cumpleaños</label>

                                    </div>
                                </div>

                                <div class="col-12">
                                    <button [disabled]="emailVerified == false" class="btn btn-primary w-100 py-3"
                                        type="submit">

                                        {{
                                        emailVerified == false ? 'Verifica tu email para completar tu perfil' :
                                        'Completar Perfil'
                                        }}

                                    </button>
                                </div>


                                <div class="col-12">

                                    <div class="row">
                                        <div class="col text-danger">
                                            <p class="text-danger" *ngIf="campoNoValido('nombre') ">
                                                El nombre es obligatorio
                                            </p>

                                            <p class="text-danger" *ngIf="campoNoValido('email') ">
                                                El email es obligatorio
                                            </p>

                                            <p class="text-danger" *ngIf="campoNoValido('telefono') ">
                                                El telefono es obligatorio
                                            </p>

                                            <p class="text-danger" *ngIf="campoNoValido('fechanac') ">
                                                La fecha de nacimiento es obligatoria
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-lg-12 wow fadeIn" data-wow-delay="0.1s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <p class="mb-4"><a> Dejanos tu opinion</a></p>

                        <form class="contact-form" id="contactForm" data-toggle="validator"
                            (ngSubmit)="onSubmitTestimonials()" [formGroup]="registerFormtestimonial"
                            autocomplete="off">
                            <div class="row g-3">

                                <div class="col-sm-12">
                                    <div class="form-floating">

                                        <textarea class="form-control border-0" id="mensaje" formControlName="mensaje"
                                            rows="4" cols="50" [(ngModel)]="contenido" placeholder="deja tumensaje"
                                            maxlength="200"></textarea>

                                        <label for="name">Comentarios | caracteres restantes
                                            {{200 - contenido.length}}</label>

                                    </div>
                                </div>


                                <div class="col-12">
                                    <button [disabled]="emailVerified == false" class="btn btn-primary w-100 py-3"
                                        type="submit">
                                        {{
                                        emailVerified == false ? 'Verifica tu email para comentar' : 'Dejanos un
                                        comentariio'

                                        }}
                                    </button>
                                </div>
                            </div>
                        </form>
                        <button [disabled]="emailVerified == false" class="btn btn-primary w-100 py-3" type="submit"
                            (click)="  eliminarTestimonio( this.usuarioActual.uid )">eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->