
  <!-- Footer Start -->
  <div class="container-fluid bg-light text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <a routerLink="/" class="navbar-brand">
        <h1 class="m-0 text-secondary">Cielito Azul</h1>  <!-- <i class="fa fa-cloud text-info me-2"> </i> -->
    </a>
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h3 class="text-primary mb-4">Contáctanos</h3>
                <p class="mb-2 text-secondary"><i class="fa fa-map-marker-alt me-3"></i>Monte Grande, Buenos Aires, Argentina</p>
                <p class="mb-2 text-secondary"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2 text-secondary"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <h3>Seguinos</h3>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                  
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-primary mb-4">Links</h3>
                <a class="btn btn-link text-secondary" href="">About Us</a>
                <a class="btn btn-link text-secondary" href="">Contact Us</a>
                <a class="btn btn-link text-secondary" href="">Products</a>
                <a class="btn btn-link text-secondary" href="">blog</a>
                <a class="btn btn-link text-secondary" href="">Home</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-primary mb-4">Galleria de imagenes</h3>
                <div class="row g-2 pt-2">
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-1.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-4.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-5.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid rounded bg-light p-1" src="../assets/img/classes-6.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-primary mb-4">Newsletter</h3>
                <p class="text-secondary">Ingrese su dirección de correo electrónico para suscribirse a nuestra notificación de nuestra nueva publicación y funciones por correo electrónico</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
               
                    <button type="button" class="btn btn-primary rounded-pill px-4 py-2">SignUp By Google<i class="fa fa-sign-in-alt ms-3"></i>
                        </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-secondary text-center text-md-start mb-3 mb-md-0">{{year}} &copy; <a class="border-bottom" href="#">www.cielitoazul.com.ar</a> All Right Reserved. <br/>      

      Designed And  Distributed By: <a class="border-bottom" href="https://www.puentesdigitales.com.ar" target="_blank">PuentesDigitales</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu text-secondary">
                        <div class="d-flex align-items-center">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
